/* *{
    margin: 0%;
} */
body{
    background: url(./DSC01759.avif) no-repeat center center / cover;
    margin: 1%;
}
.Fhead{
    background-image: url(/IMG_9393.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    display: flex;
    gap: 16px;
    width: 100%;
}
img{
    border-radius: 50rem;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    figcaption{
        font-size: 60px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
h1{
    font-size: 90px;
    font-style: uppercase;
    text-transform: uppercase;
}
.Fsec{
    .pt{
    font-size: 40px;
    }
    .ptt{
        font-size: 25px;
        p{
            cursor: pointer;
            abbr{
                text-decoration: none;
            }
        }
    }
}
.sss{
    background-color: aquamarine;
    font-size: 30px;
    p{
        font-family: Arial, Helvetica, sans-serif;
        margin: 50px;
        padding: 30px;
    }
    li{
        list-style: none;
    }
    h2, a{
        text-decoration: none;
        text-align: center;
    }
    .li1{
        background-color: bisque;
        width: 30%;
        text-align: center;
        border-radius: 40%;
        margin-left: 4%;
    }
    .li2{
        background-color: burlywood;
        width: 30%;
        text-align: center;
        border-radius: 40%;
        margin-left: 32%;
    }
    .li3{
        background-color: cadetblue;
        width: 30%;
        text-align: center;
        border-radius: 40%;
        margin-left: 60%;
    }
}
.art{
    background-color: blueviolet;
    display: block;
    h2{
        text-align: center;
        padding-top: 5%;
        font-size: 40px;
    }
}
.artdiv{
    display: flex;
    gap: 1cm;
    margin: 5%;
    span{
       background-image: url(/IMG_9393.avif);
       color: white;
       width: 33.3%;
       h3{
        text-align: center;
       }
       p{
        margin: 5%;
        font-size: large;
       }
    }
    hr{
        display: none;
    }
}
.fut{
    background-color: black;
    color: aliceblue;
    display: block;
    gap: 2cm;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    a{
        text-decoration: none;
        color: blue;
        
    }
}
h4{
    padding-top: 5%;
    text-decoration: underline;
}

@media (max-width: 480px) {
    body {

      .Fhead{
        display: block;
        width: 100%;
            img{
                width: 200px;
                height: 200px;
                margin-top: 20px;
            }
            h1{
                display: none;
            }
       }
       .Fsec{
            margin: 10px;
            .pt{
                width: 100%;
                font-size: 25px;
            }
            .ptt{
                font-size: 15px;
                display: flex;
                flex-wrap: wrap;
                p{
                    margin: 20px;
                    cursor: pointer;
                    abbr{
                        text-decoration: none;
                    }
                }
            }
        }
        .sss{
            p{
                font-family: Arial, Helvetica, sans-serif;
                margin: 10px;
                font-size: 15px;
            }
            ol{
                .li1{
                    width: 100%;
                    margin-left: -6%;
                }
                .li2{
                    margin-left: -6%;
                    width: 100%;
                }
                .li3{
                    margin-left: -6%;
                    width: 100%;
                }
            }
            h2, a{
                font-size: 20px;
            }
        }
        .art{
            h2{
                font-size: 25px;
            }
        }
        .artdiv{
            display: block;
            hr{
                display: block;
            }
        
        }
    }
}

@media (min-width: 481px) {
    body {

        .Fhead{
          display: block;
          width: 100%;
            img{
                width: 200px;
                height: 200px;
                margin-top: 20px;
            }
            h1{
                display: none;
            }
        }
        .Fsec{
            margin: 10px;
            .pt{
                width: 100%;
            }
            .ptt{
                display: flex;
                p{
                    margin: 20px;
                    cursor: pointer;
                    abbr{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}